// 1) Basis
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 2) Basiskleur vóór maps
$theme-colors: map-merge($theme-colors, ("brand": orange));

// 3) Maps laden
@import "bootstrap/scss/maps";

// 4) Light mode uitbreidingen
$custom-colors-text: ("brand": #712cf9);
$custom-colors-bg-subtle: ("brand": #e1d2fe);
$custom-colors-border-subtle: ("brand": #bfa1fc);

$theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);
$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $custom-colors-bg-subtle);
$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $custom-colors-border-subtle);

// 5) Dark mode uitbreidingen (optioneel)
$custom-colors-text-dark: ("brand": #e1d2f2);
$custom-colors-bg-subtle-dark: ("brand": #8951fa);
$custom-colors-border-subtle-dark: ("brand": #e1d2f2);

$theme-colors-text-dark: map-merge($theme-colors-text-dark, $custom-colors-text-dark);
$theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, $custom-colors-bg-subtle-dark);
$theme-colors-border-subtle-dark:
        map-merge($theme-colors-border-subtle-dark, $custom-colors-border-subtle-dark);

// 6) Utilities & componenten
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";
